# SocialHunter - Advanced Username Search Tool
# Developed by: Swaraj Fugare (@swaraj.fugare_23)

Flask==3.1.2
requests==2.32.5
PySocks==1.7.1
certifi>=2025.8.3
colorama==0.4.6
requests-futures==1.0.2
stem==1.8.2
pandas==2.3.2
openpyxl==3.1.5
gunicorn==21.2.0